@media(max-width:768px) {
    .cs-serv {
        margin: 10px 0;
        min-height: 200px;
    }
    .footer-widget {
        min-height: 350px;
    }
    .flex-caption {
        top: 15%;
    }
    .flex-caption h2 {
        font-size: 30px;
        margin: 0 0 5px 0;
    }
    .flex-caption p {
        font-size: 14px;
        width: 85%;
    }
    .slider-link {
        margin-top: 5px;
    }
}

@media(max-width:767px) {
    #TF-Navbar {
        width: 100%;
        float: none;
    }
    .cs-menu .navbar-right .dropdown-menu {
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
        box-shadow: none;
        border: none;
        /*margin-left: 40px;*/
    }
    .cs-menu .navbar-nav li a {
        display: inline-block;
        width: 100%;
    }
    .mobile-eve {
        display: inline-block;
        border: 1px solid #e74c3c;
        height: 50px;
        width: 50px;
        text-align: center;
        float: right;
    }
    .caret {
        position: relative !important;
        right: auto !important;
        display: inline-block;
        width: 0;
        height: 0;
        margin-top: 20px !important;
        vertical-align: middle;
        border-top: 10px solid;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }
    
    .carousel-caption h2{
        font-size: 25px;
        margin-top: 0;
    }
    .carousel-caption p{
        font-size: 15px;
    }

    .button-main{
        font-size: 16px;
        margin-top: 10px;
    }
    
}

@media(max-width:480px) {
    .cs-top-social {
        text-align: center;
        padding-top: 10px;
    }
    .cs-top-contact {
        text-align: center;
    }
    .cs-menu .navbar-collapse {
        float: none;
    }
    .cs-menu .navbar-nav li a {
        padding: 10px;
    }
    span.caret {
        float: right;
    }
    .service-text {
        text-align: center;
    }
    .service-icon {
        padding: 20px 0;
    }
    .home-blog h2 {
        font-size: 24px;
    }
    .section-title {
        font-size: 36px;
    }
    .call-section h2 {
        font-size: 36px;
    }
    .call-section p {
        font-size: 14px;
    }
    .section-description {
        font-size: 14px;
    }
    .call-section .call-link {
        margin: 5px;
        font-size: 14px;
    }
    .footer-widget {
        min-height: auto;
    }
    .flex-caption h2 {
        font-size: 20px;
        padding: 2px 5px;
    }
    .flex-caption p {
        font-size: 10px;
        width: 50%;
        height: 50px;
        overflow: hidden;
    }
    .slider-link {
        display: none;
    }
    .flex-control-nav {
        display: none;
    }
    .overlay a.cs-left {
        font-size: 24px;
        height: 40px;
        padding: 5px;
        top: 40%;
        width: 40px;
        margin-left: -45px;
    }
    .overlay a.cs-right {
        font-size: 24px;
        height: 40px;
        padding: 5px;
        top: 40%;
        width: 40px;
        margin-right: -45px;
    }
    .comments-pics {
        padding: 0 0 0 2px;
    }
    .c_comment .comment-detail a,
    .c_comment .comment-detail span {
        float: left;
        margin: 5px 0;
        width: 100%;
    }
    .cs-menu .navbar-brand img {
        max-width: 200px;
        height: auto;
        
    }

    .carousel-caption{
        top: 20%;
    }

    .carousel-caption h2{
        font-size: 20px;
        margin-top: 0;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    
    .button-main{
        font-size: 12px;
        margin-top: 0;
    }
}
