/*--------------------------------------------------------------
-- Header - 
--------------------------------------------------------------*/
.header-top-bar-left {
    padding: 2px 0 0;
}
.header-top-bar-right {
    padding: 7px 0 0;
}
.site-branding {
	float: left;
	position: relative;
	z-index: 12;
	padding: 23px 0 32px;
}
.site-branding a,
.site-branding a img {
    display: block;
}
.site-header-main {
    float: right;
    z-index: 10;
    padding: 12px 0 0;
}
.header-v-align .site-header-main {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    margin: -52px 0 0;
    float: none;
}
.main-navigation {
	float: left;
	color: #3C3C3C;
}
.site-social {
    font-size: 24px;
    min-height: 18px;
    padding: 15px 0 0;
    text-align: right;
}
.site-social i {
    margin: 0 0 0 12px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 58px;
	font-weight: 300;
	text-transform: uppercase;
}
.site-title a {
	font-weight: inherit;
}
.site-description {
	font-size: 12px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: inherit;
}

.header-cart {
    float: left;
}
a.header-cart-contents {
    padding: 39px 0 54px 22px;
}
.header-cart i.fa {
    position: relative;
    top: -1px;
    font-size: 12px;
}
.main-navigation li {
    margin: 0;
}
.main-navigation a {
    padding: 42px 22px 54px;
}
.site-header-nocart .main-navigation ul > li:last-child a {
    padding: 42px 0 43px 14px;
}
.main-navigation ul ul {top: 110px;}

.search-button {
    padding: 8px 0 8px 12px;
    margin: 30px 0 0 18px;
}
body.show-site-search .search-block {
    bottom: -48px;
}

/* -------- Header Right Aligned -------- */

.site-header-align-right .site-branding {
	float: right;
	text-align: right;
}
.site-header-align-right .site-header-main {
	float: left;
}
.site-header-align-right .header-menu-button {
    padding: 38px 20px 43px 0px;
}
.site-header-align-right .search-button {
	float: left;
}
.header-top-bar.header-top-bar-switch .header-top-bar-right span {
    margin: 0 10px 0 0;
}

@media only screen and (max-width: 782px) {
    
    .header-top-bar {
        font-size: 12px;
    }
    .header-top-bar-left {
        float: none;
        width: 100%;
        text-align: center;
        padding: 1px 0 0;
    }
    .header-top-bar-right {
        float: none;
        width: 100%;
        text-align: center;
        padding: 0 0 5px;
    }
    .header-bar > .site-container {
        padding: 0;
    }
    .site-branding {
        float: none !important;
        width: 100%;
        text-align: center !important;
        padding: 10px 0 20px !important;
    }
    .site-title {
        font-size: 48px !important;
    }
    .site-description {
        font-size: 11px !important;
    }
    .site-header-main {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 0 0 5px;
    }
    .search-button {
        z-index: 11;
        margin: 0;
        position: relative;
        display: inline-block;
        right: auto;
        bottom: auto;
        float: none;
        padding: 0 10px 4px;
    }
    .site-header-align-right .search-button {
        float: none;
    }
    .search-block {
        left: 25px;
        width: auto;
    }
    
    .main-navigation {
        float: none;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        margin: 0 0 8px;
    }
    
}

@media only screen and (max-width: 560px) {
    
    .menu-header-menu-container {
        display: block;
        text-align: center;
    }
    .header-top-bar-right-ad,
    .header-top-bar-right-no {
        display: inline-block;
    }
    
}
